{% extends 'customer_base.html' %}
{% load humanize %}
{% block main %}

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>注文履歴</h1>
            <h2 class="my-4">注文情報</h2>
            <table class="table mb-5">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">注文内容</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">注文番号</th>
                        <td>{{object.pk}}</td>
                    </tr>
                    <tr>
                        <th scope="row">金額</th>
                        <td>¥{{object.amount| intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">税込</th>
                        <td>¥{{object.tax_included| intcomma}}</td>
                    </tr>

                    <tr>
                        <th scope="row">注文確定日</th>
                        <td>{{object.created_at|date:"Y-m-d f"}}</td>
                    </tr>
                    <tr>
                        <th scope="row">UID</th>
                        <td>{{object.uid}}</td>
                    </tr>
                    <tr>
                        <th scope="row">郵便番号</th>
                        <td>{{shipping.0.fields.zipcode}}</td>
                    </tr>
                    <tr>
                        <th scope="row">都道府県</th>
                        <td>{{shipping.0.fields.prefecture}}</td>
                    </tr>
                    <tr>
                        <th scope="row">市区</th>
                        <td>{{shipping.0.fields.city}}</td>
                    </tr>
                    <tr>
                        <th scope="row">住所1</th>
                        <td>{{shipping.0.fields.address1}}</td>
                    </tr>
                    <tr>
                        <th scope="row">住所2</th>
                        <td>{{shipping.0.fields.address2}}</td>
                    </tr>
                    <tr>
                        <th scope="row">電話番号</th>
                        <td>{{shipping.0.fields.tel}}</td>
                    </tr>
                </tbody>
            </table>


            <h2 class="my-4">注文状況</h2>
            <div>
                {% if object.canceled_at %}
                <div class="my-3 ">
                    <button class="btn btn-danger" disabled>キャンセル: {{object.canceled_at}}</button>
                </div>
                {% elif object.shipped_at == None %}
                <div class="my-3 ">
                    <button class="btn btn-secondary" disabled>発送待ち</button>
                    <form action="/order_cancel/" method="POST" class="text-right">
                        {% csrf_token %}
                        <input type="hidden" name="order_pk" value="{{object.pk}}">
                        <button class="btn btn-danger">注文取消</button>
                    </form>
                </div>
                {% elif object.shipped_at %}
                <div class="my-3 ">
                    <button class="btn btn-primary" disabled>発送完了: {{object.shipped_at}}</button>
                </div>
                {% endif %}

            </div>


            <h2 class="my-4">注文商品一覧</h2>
            <table class="table mb-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">商品画像</th>
                        <th scope="col">品名</th>
                        <th scope="col">単価</th>
                        <th scope="col">数量</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><img src="/{{item.image}}" width="auto" height="100px"></td>
                        <td>{{ item.name }}</td>
                        <td>¥{{item.price| intcomma}}</td>
                        <td>{{item.quantity}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}