<div class="container w-100 bg-dark text-white py-4" style="max-width: 100%;">
    <div class="row mt-5 mx-5">
        {% if user.is_admin %}
        <div class="col-6 col-md">
            <h5>運用メニュー</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="/shipp/">発送管理</a></li>
                <!-- <li><a class="link-secondary text-muted" href="#">リンク</a></li> -->
                <!-- <li><a class="link-secondary text-muted" href="#">リンク</a></li> -->
            </ul>
            
        </div>
        {% else %}
        <div class="col-12 col-md">
            <h5>{{ TITLE }}</h5>
            <small class="d-block mb-3 text-muted">&copy; 2022-2022</small>
        </div>
        <div class="col-6 col-md">
            <h5>特徴</h5>
            <ul class="list-unstyled text-small ">
                <li><a class="link-secondary text-muted" href="/">Top</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>リソース</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="#">リンク</a></li>
                <!-- <li><a class="link-secondary text-muted" href="#">リンク</a></li> -->
                <!-- <li><a class="link-secondary text-muted" href="#">リンク</a></li> -->
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>リソース</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="#">リンク</a></li>
                <!-- <li><a class="link-secondary text-muted" href="#">リンク</a></li> -->
                <!-- <li><a class="link-secondary text-muted" href="#">リンク</a></li> -->
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>サイトについて</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="/company/">会社概要</a></li>
                <li><a class="link-secondary text-muted" href="#">リンク</a></li>
                <li><a class="link-secondary text-muted" href="#">リンク</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>