{% load humanize %}

<a href="/items/{{object.pk}}/">
    <div name="item_box">
        <img src="/{{object.image}}" class=" bg-white" height="180px" style="width:100%;">
        <div class="text-center text-secondary overflow-hidden">
            <div class="my-2 py-2" style="width:100%;">
                <p name="item_name" class="lead three_point_leader" style="font-size: 14px;margin: 0;text-align: left;">{{object.name}}</p>
                <p name="item_price" class="lead three_point_leader" style="font-size: 20px;margin: 0;text-align: right;font-weight: bolder;color: red;">¥{{object.price| intcomma}}</p>
            </div>
        </div>
    </div>
</a>